
#app {
    margin: 0 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-link {
    font-size: 30px;
    text-decoration: none;
    color: #3C50E0;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    font-size: 20px;
    list-style: none;
}

.nav-item-link {
    text-decoration: none;
    color: #848484;
}